* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fff6da;
  margin: 0 auto;
  padding-block: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

img {
  width: clamp(100px, 15vw, 250px);
  aspect-ratio: 1/2;
}
